@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background: rgb(243, 243, 243);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#logo {
    height: 50px;
}

canvas { 
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */ 
  width: 640px;
  height: 480px;
  left: 5%;
  top: 5%;
}

#polaroid {
  position: relative;
  height: 700px;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  background: white;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

#polaroid-footer {
  position: absolute;
  bottom: 2%;
  left: 30%;
}

#canvas {
  position: absolute;
  z-index: 1;
}

#overlay {
  position: absolute;
  z-index: 3;
}

#emotionOverlay {
  position: absolute;
  z-index: 5;
}

#emotion {
  color: rgb(29, 27, 27);
  padding: 10px;
  margin: 10px 0;
  font-size: 28px;
  font-style: italic;
  font-weight: 300;
}

#date {
  font-size: 15px;
  font-weight: bolder;
  color: #827e7f;
  margin-bottom: 14px;
}

button { 
  width: 300px;
  height: 100px;
  margin-top: 30px;
  border: 1px solid #4e4b4b52;
  border-radius: 7px;
  background: #f3f3f3;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  cursor: pointer;
}

.explanation {
  font-size: small;
  color: #77746e;
  font-weight: bolder;
}

h1 {
  font-weight: bolder;
  font-size: x-large;
  color: #57595d;
}

.subtitle {
  font-style: italic;
  margin-bottom: 30px;
}

#twitterUsername {
  margin-top: 10px;
}

div.twitter-post {
  width: 40%;
  margin: 0 auto;
}

.grid-item1 { grid-area: main; }
.grid-item2 { grid-area: right; }

.grid-container {
  display: grid;
  grid-template-areas:
    'menu main main main right right';
  grid-gap: 10px;
  padding: 10px;
}