<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>EmoPyWeb</title>
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
    <script src="{{ url_for('static', filename='qrcode.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div id="title">
        <h1>EmoPy Web Demo</h1>
        <p class="subtitle">
          Turn on your webcam.
          <br/> Start making smiling, surprised or disgust faces.
        </p>
        <p>
          <i>
            All photos will be deleted 24 hours after being taken.
          </i>
        </p>
    </div>
    <div class="grid-container">
        <div class="grid-polaroid">
            <div id="polaroid">
              <video style="display: none;" autoplay playsinline></video>
              <canvas id="canvas" class="photoCanvas"></canvas>
              <canvas id="emotionOverlay" class="photoCanvas" width="640" height="480"></canvas>
              <div id="polaroid-footer">
                <div id="emotion"></div>
                <div id="date"> April 19, 2019 Home Office Day, NYC</div>
                <img id="logo" src="{{ url_for('static', filename='twa-logo.png') }}">
              </div>
            </div>
        </div>
        <div class="grid-qr">
          <div id="qr-container">
            <div id="qr-img"></div>
            {% if twitter %}
            <div class="twitter-post">
              <label for="twitterUsername">Enter your twitter username to tag yourself in the photo we tweet from
                <a target="_blank" href="https://twitter.com/EmoPyWeb">@EmoPyWeb</a>:</label>
              @<input id="twitterUsername" name="twitterUsername" type="text"></input>
            </div>
            <button type="button" onclick="createAndSavePolaroid()">Tweet Photo Now</button>
            {% else %}
            <button id="cameraTrigger" class="roundRedButton vertical-center" type="button" onclick="createAndSavePolaroid()">Take photo</button>
            {% endif %}
          </div>
          <p class="explanation">
            EmoPy is a deep neural net toolkit for emotion analysis via Facial Expression Recognition (FER). 
            <br>It was initiated during Karen Palmer's residency with ThoughtWorks Arts.
            <br>The code is freely Available on GitHub and released under an open source license (AGPL). 
            <br>EmoPy and EmoPyWeb are projects of ThoughtWorks Arts.
          </p>
        </div>
        {% if twitter %}
        <div>
          <a class="twitter-timeline" data-lang="en" data-width="300" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/EmoPyWeb?ref_src=twsrc%5Etfw">Tweets by EmoPyWeb</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
